.about {
    .container {
        display: grid;
        grid-template-columns: 33.333333333333% 66.6666666666666%;
        height: 100%;
        width: 100%;
    }
    .inner-container {
        padding: 60px 15px;
    }
}

.about-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 50px auto;
}