.about {
    .full-width {
        display: grid;
        grid-template-columns: 33.333333333333% 66.6666666666666%;
        grid-template-rows: 100%;
        height: 100%;
        width: 100%;
        padding: 0;
    }
    .inner-container {
        padding: 60px 15px;
    }
    .feature-panel-container {
        overflow: hidden;
    }
    .feature-panel-slide {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-right: 17px;
        box-sizing: content-box;
    }
    .feature-panel-content {
        position: relative;
        z-index:2;
        .inner-container {
            display: flex;
            flex-direction: column;
        }
    }
    .tabbed-navigation {
        height: 60px;
    }
    .feature-panel-slide-container {
        height: calc(100% - 60px);
        overflow: hidden;
        padding-top: 20px;
    }
}

.about-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 50px auto;
}

.resume-section {
    height: auto;
    padding-top: 40px;
}

.resume-list {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

.resume-item {
    padding: 20px 0;
}