.about {
    .full-width {
        display: grid;
        grid-template-columns: 33.333333333333% 66.6666666666666%;
        grid-template-rows: 100%;
        height: 100%;
        width: 100%;
        padding: 0;
        @include breakpoint (desktop) {
            grid-template-columns: 45% 55%;
        }
        @include breakpoint (laptop) {
            grid-template-columns: 100%;
        }
    }
    .inner-container {
        padding: 60px 15px;
    }
    .feature-panel {
        @include breakpoint (laptop) {
            display: none;
        }
    }
    .feature-panel-container {
        overflow: hidden;
    }
    .feature-panel-slide {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-right: 17px;
        box-sizing: content-box;
    }
    .feature-panel-content {
        position: relative;
        z-index:2;
        .inner-container {
            display: flex;
            flex-direction: column;
        }
    }
    .tabbed-navigation {
        height: 60px;
    }
    .feature-panel-slide-container {
        height: calc(100% - 60px);
        overflow: hidden;
        padding-top: 20px;
    }
    .info-panel-content {
        justify-content: flex-start;
    }
}

.about-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 50px auto;
    @include breakpoint (desktop) {
        width: 120px;
        height: 120px;
        margin: 20px auto;
    }
}

.resume-section, .skills-section {
    height: auto;
    padding-top: 40px;
}

.resume-list {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

.resume-item {
    padding: 20px 0;
}

.skills-item {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: auto auto;
    padding: 20px 0;
    .item-title {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .item-subtitle {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

.item-icon {
    grid-column: 1/2;
    grid-row: 1/3;
    @extend %flex-center;
    opacity: 0;
    animation: FadeIn 0.8s ease-out 0.5s 1 forwards;
}