.hero {
    background-size: cover;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.55);
        z-index: 1;
        
    }
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        z-index: 2;
        @include breakpoint (laptop) {
            align-items: center;
        }
    }
}

.site-title {
    font-size: 7.478rem;
    line-height: 105%;
    letter-spacing: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    opacity: 0;
    animation: headingsIn 0.8s ease-out 1 forwards;
    @include breakpoint (laptop) {
        font-size: 4.209rem;
        text-align: center;
    }
    @include breakpoint (tablet) {
        font-size: 3.157rem;
        letter-spacing: 10px;
        line-height: 125%;
    }
}

.site-subtitle {
    font-size: 3.157rem;
    line-height: 110%;
    letter-spacing: 5px;
    font-weight: 500;
    text-transform: uppercase;
    color: $yellow;
    opacity: 0;
    animation: headingsIn 0.8s ease-out 0.5s 1 forwards;
    @include breakpoint (laptop) {
        font-size: 2.369rem;
        text-align: center;
    }
    @include breakpoint (tablet) {
        font-size: 1.777rem;
        line-height: 115%;
    }
}

.cta-icon {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    color: white;
    font-size: 45px;
    &:hover {
       animation: ctaHover 0.5s ease-in-out infinite alternate;
    }
}