%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    @extend %raleway;
    background-color: $white;
    font-size: 18px;
    @include breakpoint (tablet) {
        font-size: 16px;
    }
    @include breakpoint (phablet) {
        font-size: 14px;
    }
}

.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

a {
    transition: 0.3s ease-in-out;
    &:hover {
        text-decoration: none;
    }
}

body {
    @extend %raleway;
    background-color: $white;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 2.887rem;
    line-height: 110%;
    letter-spacing: 15px;
    font-weight: 800;
    text-transform: uppercase;
    @include breakpoint (phablet) {
        font-size: 2.027rem;
    }
}

h2 {
    font-size: 2.281rem;
    line-height: 110%;
    letter-spacing: 10px;
    font-weight: 600;
    text-transform: uppercase;
    @include breakpoint (phablet) {
        font-size: 1.802rem;
    }
}

h3 {
    font-size: 1.602rem;
    line-height: 110%;
    letter-spacing: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

h4 {
    font-size: 1.266rem;
    line-height: 125%;
    letter-spacing: 3px;
    font-weight: 600;
}

h5 {
    font-size: 1.125rem;
    line-height: 125%;
    letter-spacing: 1.5px;
    font-weight: 500;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 1.2px;
    font-weight: 400;
    @include breakpoint (phablet) {
        letter-spacing: 1px;
    }
}

body {
    position: relative;
}

section {
    height: 100vh;
    position: relative;
}

.site-title {
    font-size: 7.478rem;
    line-height: 105%;
    letter-spacing: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    opacity: 0;
    animation: headingsIn 0.8s ease-out 1 forwards;
    @include breakpoint (laptop) {
        font-size: 4.209rem;
        text-align: center;
    }
    @include breakpoint (tablet) {
        font-size: 3.157rem;
        letter-spacing: 10px;
        line-height: 125%;
    }
}

.site-subtitle {
    font-size: 3.157rem;
    line-height: 110%;
    letter-spacing: 5px;
    font-weight: 500;
    text-transform: uppercase;
    color: $yellow;
    opacity: 0;
    animation: headingsIn 0.8s ease-out 0.5s 1 forwards;
    @include breakpoint (laptop) {
        font-size: 2.369rem;
        text-align: center;
    }
    @include breakpoint (tablet) {
        font-size: 1.777rem;
        line-height: 115%;
    }
}

.container {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    @include breakpoint (1440px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.loader {
    position: fixed;
    @extend %flex-center;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $black;
    &.hidden {
      animation: fadeOut 0.8s;
      animation-fill-mode: forwards;
    }
  }

  .spinner {
    border: 2px solid $white;
    border-top: 2px solid $yellow;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.5s linear infinite;
  }
  
 