.menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 45vw;
    padding-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    z-index: 50;
}

.menu-item {
    display: inline-block;
    padding: 10px 20px;
    color: $white;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    &:hover, &.active {
        color: $yellow;
    }
}